# Binaries
node_modules/
dist/
!__test__/node_modules

# Coverage
.nyc_output/
coverage/

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-debug.log

# IDE
*.code-workspace
.vscode/
